div.transparent {
    background-color: darkgray;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: auto;
    background-repeat: repeat;
    padding-top: 50px;
}
div.rightbutton-style {
    margin-right: 50px;
    margin-left: 400px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 200px 190px auto 210px;
}
div.leftbutton-style {
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 200px 190px auto 210px;
}