doctype html
html
  head
    link(rel="icon" href="film-camera-clipart-8.ico")
    link(rel="stylesheet" ,="" href="/styles/admin_login.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1(style="text-align:center") Change Password
    form(action="/admin/change" method="POST")
      .container
       if error1
        p(style="text-align:center; color:red") #{error1}
        div
          label(for="uname")
            b Username
          input(type="text" placeholder="Enter Username" name="username" required="")
        div
          label(for="psw")
            b Old Password
          input(type="password" id="oldpass" name="oldpassword" placeholder="Enter old password" required="")
          label(for="psw")
            b New Password
          input(type="password" id="newpass" name="newpassword" placeholder="Enter new password" required="")
          span#error
        button#Login(type="submit" name="changepassword") Change Password
        p(style = "text-align:center") 
           a(href="/admin/login") Dashboard LogIn