<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="film-camera-clipart-8.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: white;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color:  #862633;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
  padding: 16px;
 
}
</style>
</head>
<body>
  <h1 style="text-align:center">Log In</h1>
     <form action="login" method="POST"> 
     <div class="container">
      <% if (errorMsg) { %>
        <p style="text-align:center; color:red"><%= errorMsg %></p>
        <% } %>
         <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required></div>
         <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter password" required> 
         <span id="error"></span>    
    </div>
        <button id="Login" type="submit" name="login">Login</button> 
    </form> 
	
  </div>  


</form>
 
</body> 
</html>