nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    a.navbar-brand(href='#') EESC Alumni Database
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/admin/dashboard') Dashboard 
            li.nav-item
                a.nav-link(href='/admin/pending') Pending
            li.nav-item
                a.nav-link(href='/admin/logout') Logout
