fieldset {
	background-color: white;
	width: 45%;
	margin-left: 390px;
	margin-top: 50px;
	padding: 20px;
}
div.transparent {
	background-color: darkgray;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 250px;
	background-repeat: repeat;
	background-attachment: fixed;
}
div.leftbutton-style {
	margin-left: 100px;
	padding: 5px;
	border-radius: 10px;
	margin: 100px 180px auto 200px;
}