body {
    background-image: url('http://dreamicus.com/data/earth/earth-03.jpg');
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-attachment: fixed; 
    background-position: center;
}
h2 {
    background-color: midnightblue;
    background-size: 100% 100%;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 15px;
}
div.umwlogo {
    background-image: url('http://4.bp.blogspot.com/-y059U--6enY/WEwcIouzTLI/AAAAAAAABmU/CKFphI3YvAUW9Tj0kNckQcHmrOHx-WBygCK4B/s1600/UMW-logo.tagline_2color-RGB.jpg');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: top-left;
    background-color: midnightblue;
}