nav {
    background-color: rgb(0, 43, 90);
}

.card {
    width: 40rem;
    height: 15rem;
    margin: auto;
    z-index: 0;
    overflow: hidden;
}

.expanded {
    transition: width 300ms 300ms ease, height 300ms ease;
}

div.homebutton-style {
    width: 291px;
    height: 80px;
    border-radius: 10px;
    margin-left: auto;
}

div.earth {
    background-image: url('earth.jpg');
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-attachment: fixed; 
    background-position: center;
}
div.transparent {
    background-color: darkgray;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 800px;
    height: 75%;
}

div.headerbackground {
    background-image: url('umw-primary-logo-white.png');
    background-color: rgb(0, 43, 90);
    background-size: 100% 15%;
}
