nav {
    background-color: rgb(0, 43, 90);
}

.card {
    width: 40rem;
    height: 15rem;
    margin: auto;
    z-index: 0;
    overflow: hidden;
}

.expanded {
    transition: width 300ms 300ms ease, height 300ms ease;
}
