nav {
    background-color: rgb(0, 43, 90);
}

.card {
    width: 40rem;
    height: 15rem;
    margin: auto;
    z-index: 0;
    overflow: hidden;
}

div.homebutton-style {
    width: 291px;
    height: 80px;
    border-radius: 10px;
    margin-left: auto;
}

.expanded {
    transition: width 300ms 300ms ease, height 300ms ease;
}
