div.earth {
    background-image: url('earth.jpg');
    background-repeat: no-repeat;
    background-size: 50% 85%;
    background-attachment: fixed; 
    background-position: center;
}
h2 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 15px;
}
h3 {
    color: black;

}
div.headerbackground {
    background-image: url('umw-primary-logo-white.png');
    background-color: rgb(0, 43, 90);
    background-size: 100% 15%;
}
div.featurebox {
    background-color: white;
    width: 700px;
    margin-left: 320px;
    height: auto;
    min-height: 250px;
    margin: 2% auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}
div.rightbutton-style {
    width: 291;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 100px 30px auto 210px;
}
div.leftbutton-style {
    width: 291;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 175px 100px auto 210px;
}
div.transparent {
    background-color: darkgray;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    height: 100%;
}